.tableContainer {
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: 1px solid #333333;
    border-radius: 10px;
    margin-bottom: 20px;
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #333333;
        border-radius: 10px;
        overflow: hidden;
        thead {
            background-color: #333333;
            color: #fff;
            text-align: center;
            th {
                padding: 10px;
                font-size: 14px;
            }
        }
        tr {
            border: 1px solid #333333;
            border-radius: 10px;
            td {
                border: 1px solid #333333;
                border-radius: 10px;
                padding: 20px 10px;
                @media screen and (max-width: 500px) {
                    padding: 5px;
                }
                .coinsContainer, .pricesContainer {
                    width: 90%;
                    margin: auto;
                    display: flex;
                    align-items: center;
                }
                .coinsContainer {
                    justify-content: space-between;
                    .coinInformation {
                        width: 90%;
                        display: flex;
                        align-items: center;
                        div {
                            margin-left: 15px;
                        }
                    }
                }
                .pricesContainer {
                    div {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        span {
                            font-size: 14px;
                            margin: 5px 0;
                        }
                    }
                    @media screen and (max-width: 500px) {
                        flex-direction: column;
                    }
                }
            }
        }
}
}